/* Start Variables */
:root {
    --white: white;
    --header-color: #eee;
    --green-color: green;
    --hover-green-color: rgb(7, 206, 7);
    --main-padding: 100px;
}
/* End Variables */
/* Start Rules */
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* End Rules */
/* Start Header */
header {
    background-color: var(--header-color);
}
header .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    max-height: 58.4px;
    flex-wrap: wrap;
    align-content: center;
}
header .container .logo {
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
    color: var(--green-color);
}
header .container nav a  {
    margin-right: 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--green-color);
    transition: 0.3s;
    position: relative;
    text-transform: uppercase;
}
@media (max-width:687px) {
    header .container nav a {
        font-size: 15px;
        margin-right: 10px;
    }
    header .container .logo {
        font-size: 20px;
        margin-left: 25px;
    }
}
header .container nav a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color:var(--hover-green-color);
    bottom: -5px;
    transition: 0.3s;
}
header .container nav a:hover::before {
    width: 100%;
}
header .container nav a:hover {
    color:var(--hover-green-color);
}
/* <!-- End Header --> */
/* Start Main */
main {
    background-image: linear-gradient(rgb(0,0,0,0.50),rgb(0,0,0,0.50)), url(../images/Wallpaper\ 3.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
main .container {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.cards {
    display: flex;
    gap: 30px;
}
.cards .box {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    transition: 0.3s;
}
.cards .box:hover {
    transform: translateY(-20px);
}
.cards .box .image {
    margin-bottom: 25px;
}
.cards .box .image img {
    width: 100%;
}
.cards .box .image-text h4 {
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--green-color);
}
.cards .box .image-text p {
    line-height: 1.3;
    color: var(--green-color);
    font-size: 21px;
    margin: 30px 0;
}
@media (max-width:1020px) {
    .cards {
        flex-direction: column;
    }
    .cards .box {
        margin-bottom: 30px;
    }
}
/* End Main */